{% extends 'base.html.twig' %}

{% block title %}Modifier un utilisateur{% endblock %}

{% block body %}

<div class="container">
    <h2>Modifier l' utilisateur</h2>
    <div class="row">
    {{ form(userForm) }}
    </div>
</div>
{% endblock %}
